.container{
    width: 90%;
    height: fit-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 48px;
    color: var(--black);
    font-weight: 500;
    margin: 0 auto;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}