.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    margin-right: 20px;
    cursor: pointer;
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 14px;
}

.nav:nth-child(1) > .item{
    margin-right: 10px;
}


.item:nth-child(5){
    margin-right: 0;
}

.logo{
    position: relative;
    width: 65px;
    height: 50px;
}